.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#weer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

#weerForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#weer h2, #weer p {
    text-align: center;
}

#weer, #error-message {
    margin: 20px auto;
}
#weer img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

#error-message {
    color: red;
    background-color: white;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}