body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=1480&t=st=1717711612~exp=1717712212~hmac=fb4a1084f635a11a748ece6f5c00b2a4a060837dfcd89e56f4ea2e1980d382a0);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
}
img {
    max-width: 40%;
    height: auto;
    padding: 10px;
}
.naam {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.naam input {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}
.naam label {
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
}
.naam input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}
.naam button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.naam button:hover {
    background-color: lightblue;
}
#namenlijst {
    width: 100%;
    max-width: 600px;
    list-style: none;
    padding: 0;
    margin: 0;
}
#namenlijst li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
}
#namenlijst li .naam {
    flex-grow: 1;
    font-size: 20px;
}
#namenlijst li button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#namenlijst li .verwijder {
    background-color: red;
    color: white;
}
#namenlijst li .verwijder:hover {
    background-color: darkred;
}
#namenlijst li .toevoegen {
    background-color: green;
    color: white;
}
#namenlijst li .toevoegen:hover {
    background-color: darkgreen;
}
#namenlijst li .verwijderen {
    background-color: orange;
    color: white;
}
#namenlijst li .verwijderen:hover {
    background-color: darkorange;
}
#namenlijst li .punten {
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
}